#Aula 1 - Primeiros Passos

In [ ]:
# Soma
5+3

''' Tudo que vai aqui dentro é lido como comentário '''

# shift + enter para compilar o código

print("Frase do curso")

#impput - coleta dados do usuário

imput()

#palavras reservadas 
#exemplos:
if or else

Frase do curso

#Aula 2 - Variáveis

In [ ]:
# nome das variáveis - Sempre comece com letras! 

p1 = 8
prova = 6
prova_1 = 7

X = 3 
# igual + igual "==" significa comparação. X é igual a 3? 
x == 3

#Aula 3 - Tipos de variáveis

In [ ]:
# nota: quando declarar uma variável assim "x = x + 1" significa que a partir de agora, o X anterior é somado com 1

# Númericas: inteiros e flutuantes (int ou float)

idade = 46
salario = 2200.20

# Booleanas (Boolean) Verdadeiro ou falso 

v = True
f = False

# string (caracteres ou letras)

nome = "Mateus"
idade = 26
idade_01 = "26"

type(v)

bool

#Aula 5 - Função Type() e conversão de variáveis

In [ ]:
type(v)

p1 = 7
p2 = 7.5

p1 = float(p1)

p1

type(p1)

float

#Aula 6 - Função print()

In [ ]:
idade = 26
x = 3
y = 7
nome = "Mateus"

print("Print isso")
print() #pula linha

print(x+y)


# função com porcentagem %s = string %d número inteiro %f número float

print("%s tem %d anos e recebe %2f" % (nome, idade, salario))

Print isso

10
Mateus tem 26 anos e recebe 2200.200000

#Aula 7 - Função print() com format

In [ ]:
print("{} tem {} anos e recebe R${}" .format(nome, idade, salario))

Mateus tem 26 anos e recebe R$2200.2

#Aula 8 - Entrata de dados: função input()

In [ ]:
x = float(input("Insira a sua idade: "));
y = float(input("digite seu cpf: "));

print(x+y)

nome = input("Insira seu nome: ")
print("Ola", nome)

Insira a sua idade: 1
digite seu cpf: 3
4.0
Insira seu nome: MATEUS
Ola MATEUS

#Exercicio 1

In [ ]:
real = 5.16

dolar = float(input("Digite o valor em dólares: "));

conv = dolar*real

print("U$ {} dólares em reais é igual a R${}" .format(dolar,conv))

Digite o valor em dólares: 3
U$ 3.0 dólares em reais é igual a R$15.48

#Exercicio 2

In [ ]:
preco = float(input("Digite o valor do produto: "))

desc = float(input("Digite o valor do desconto: "))

cal = desc/100

valor = preco*cal

pagar = preco-valor

print("Esse produto vai ter o desconto de R${} e você vai precisar pagar R${:.2f}" .format(valor, pagar))

Digite o valor do produto: 300
Digite o valor do desconto: 15
Esse produto vai ter o desconto de R$45.0 e você vai precisar pagar R$255.00

#Aula 10

In [ ]:
x = 3
y = 7

#adição

soma = x + y

print(soma)

#subtração

sub = x - y

print(sub)

#multiplicação

multi = x * y

print (multi)

#potenciação

pot = x**3

print(pot)

10
-4
21
27

In [ ]:
#divisão

'''
São 3 tippos

x / y = divisão usual (com float)

x / / y = divisão inteira (com int)

x % y = resto da divisão

'''

In [ ]:
10/5

2.0

In [ ]:
17//5

3

In [ ]:
17%5

2

#Exercício 3

Registro de Aluno = 274128

Como fazer a leitura apenas dos últimos algarismos?

In [ ]:
ra = 274128
algarismos = ra % 10000
print(algarismos)

4128

#Exercício 4

Dados dois números inteiros, exiba as 4 operações arítiméticas deles:

In [ ]:
a = 1
b = 3

ad = a + b
sub = b - a
sub_2 = a - b
div = b / a
div_2 = a / b
mult = a * b

print("Subtração 1 = ", sub)
print("Subtração 2 = ", sub_2)
print("Divisão 1 = ", div)
print("Divisão 2 = ", div_2)
print("Adição", ad)
print("Multiplicação", mult)

Subtração 1 =  2
Subtração 2 =  -2
Divisão 1 =  3.0
Divisão 2 =  0.3333333333333333
Adição 4
Multiplicação 3

#Exercício 5

Elabore um algoritmo que demonstre a médias final do curso, sendo as avaliações com três provas e quadro trabalhos, com peso de 80% para as provas e 20% para os trabalhos.

In [ ]:
# notas das provas

p1 = 8.0
p2 = 7.5
p3 = 6.8

# as quatro notas dos trabalhos

trab_1 = 5.5
trab_2 = 10.0
trab_3 = 9.0
trab_4 = 8.7

# as médias 

mp = (p1 + p2 + p3)/3
mt = (trab_1 + trab_2 + trab_3 + trab_4)/4

# a media final 

mf = 0.8*mp + 0.2*mt

print("A média final da displina é: {:.2f}" .format(mf))

A média final da displina é: 7.61

#Exercício 6

Faça um algoritmo que calcule um aumento de 5% num salário de R$2.000,00 mensais

In [ ]:
salario = 2000
aumento = 5
novo_salario = salario*(1 + aumento/100)

print("O salário de R${:.2f} sofreu um aumento de {}% e passou a valer R${:.2f}" .format(salario, aumento, novo_salario))

O salário de R$2000.00 sofreu um aumento de 5% e passou a valer R$2100.00
1.05

#Exercício 7 
Faça uma variável que exiba seu nome e alguns dados pessoais

In [ ]:
nome = "Mateus"
idade = 26
altura = 1.78

print("Eu me chamo {}, tenho {} anos e {} de altura." .format(nome, idade, altura))

Eu me chamo Mateus, tenho 26 anos e 1.78 de altura.

#Exercício 8

Faça um programa que exiba o resultado das operações:

1.2a + 3b, sendo que a = 2 e b = -5

2.a² + b², sendo que a = -1 e b = -3

3.a - 3b/a, sendo que a = 3 e b = 6

In [ ]:
a = 2
b = -5

op1 = 2*a + 3*b

print(op1)

-11

In [ ]:
a = -1
b = 3

op2 = a**2 + b**2

print(op2)

10

In [ ]:
a = 3
b = 6

op3 = a - (3*b)/a

print(op3)

-3.0

#Exercício 8

Elabore um algoritmo que aplique o desconto de 5% (desc_a) quando o consumidor compra 2 produtos e o desconto de 10% (desc_b) quando ele compra 3 produtos. 

  - TV = 890
  - Mesa = 500
  - Liquidificador = 120
  - Desc_a = 5
  - Desc_b = 10

In [ ]:
#produtos

tv = 890
mesa = 500
liq = 120
desc_a = 5
desc_b = 10

da = (1 - desc_a/100)
db = (1 - desc_b/100)
# dois produtos

compra_01 = (tv + mesa) * da
compra_02 = (liq + tv) * da
compra_03 = (liq + mesa) * da

# Três produtos

compra_04 = (liq + tv + mesa)

#descontos

print("Comprando TV + Mesa = R$", compra_01)
print("Comprando TV + Liquidificador = R$", compra_02)
print("Comprando Liquidificador + Mesa = R$", compra_03)
print()
print("Comprando os três produtos = R$", compra_04)

Comprando TV + Mesa = R$ 1320.5
Comprando TV + Liquidificador = R$ 959.5
Comprando Liquidificador + Mesa = R$ 589.0

Comprando os três produtos = R$ 1510

#Aula 11 - Importano Bibliotecas ou Módulos

In [ ]:
# trigonometria não está dentro das operações básicas do Python

x = 3.14159
y = cos(x)

print(y)

#por isso, precisamos importar a biblioteca ou módulo necessário para o código

In [ ]:
import math

x = math.pi
y = math.cos(x)

print(y)

# sempre que for importar uma biblioteca usar o seguinte: nome_da_biblioteca.nome_da_função( argumento )

-1.0

#Aula 12 - Outras Formas de Importar Bibliotecas

In [ ]:
#importar a função com um apelido, para ficar mais curta

import math as mt

x = mt.pi
y = mt.sin(x)

print(round(y,2))

0.0

In [ ]:
#importar apenas uma ou mais funções específicas

from math import dist

math.dist(x,r)

math.cos() #essa função não vai funcionar, pois, importamos apenas uma função "dist" e não a de "cos"

#Aula 13 - Outra Grande Biblioteca Matemática - NumPy

In [ ]:
import numpy as np

#possui mais funções do que apenas a biblioteca math

#Aula 14 - Condicionais

In [ ]:
# Blocos de instruções

if <condição>:
  comando1
  comando2

In [ ]:
#Aplicação prática

n1 = int(input("Digite o n1:"))
n2 = int(input("Digite o n2:"))

# comparar 1

if n1 > n2 : 
  print(f"O valor {n1} é maior que {n2}")

if n1 < n2 :
  print(f"O valor {n1} é menor que {n2}")

Digite o n1:7
Digite o n2:8
O valor 7 é menor que 8

In [ ]:
# comparar 2

if n1 > n2 :
  print(f"O valor {n1} é maior que {n2}")

else: 
  print(f"O valor {n1} é menor que {n2}")

# o código faz a mesma coisa, mas usando else, para abreviar a condição.

O valor 7 é menor que 8

#Aula 15 - Exemplo de Condicional

Escreva um programa que pergunte o valor do salário do funcionário e calcule um aumento com base no valor do salário. Para salários superiores a 1650,00  aplique um aumento de 12%. Para salários inferiores ou iguais a 1650,00, o aumento será de 18%.

In [ ]:
# Coleta a informação do salário

salario = float(input("Informe seu salário em reais: "))
base = 2000.0

if salario <= base : 
  novo_salario01 = salario * (1 + 12/100) 
  print(f"O valor do novo salário será: R${novo_salario01}")
else: 
  novo_salario02 = salario * (1 + 18/100)
  print(f"O valor do novo salário será: R${novo_salario02}")

#também é possível escrever assim: 

if salario <= base : 
  salario = salario*1.12 
  print("O valor do novo salário será: R$", salario)
else: 
  salario = salario*1.18
  print("O valor do novo salário será: R$", salario)

Informe seu salário em reais: 2000
O valor do novo salário será: R$ 2240.0

#Aula 16 - Condicional elif

Numa faculdade o sistema de avaliação diz que: 

0 <= nota <= 4.0 : Aluno está reprovado

4.0 < nota < 7.0 : Aluno está de recuperação

nota >= 7;0 : Aluno aprovado

Crie um algoritmo que leia a nota final do aluno e diga qual o status dele.

In [ ]:
# Exemplo de problemas usando só if

nota = 2 
if nota <= 4:
  print("Reprovado")
if nota < 7:
  print("Em recuperação")
else:
  print("Aprovado")

# o código dá margem para aparecerem dois resultados

Reprovado
Em recuperação

In [ ]:
# exemplo certo, mas mais trabalhoso

if nota <= 4:
  print("Reprovado")
else: 
  if nota < 7:
    print("Em recuperação")
  else:
    print("Aprovado")

Reprovado

In [ ]:
# exemplo com elif
if nota <= 4: 
  print("Reprovado")
elif nota < 7:
  print("Recuperação")
else:
  print("Aprovado")

Reprovado

#Exercício 9

Elabore um algoritmo para calcular a conta de luz. Pergunte a quantidade kW/h consumida mensalmente, bem como o tipo de instalação, sendo C = casas, I = Indústrias e E = Empresas

Casas - Consumo <= 600: 0,45 

Consumo > 600: 0,65

Indústrias - Consumo <= 1200: 0,75 

Consumo > 1200: 0,95

Empresas - Consumo <= 6000: 0,70 

Consumo > 6000: 0,80

In [ ]:
print("Informe o tipo de instalação, sendo Casas = C, Indústrias = I, Empresas = E: ")

tipo = input("Qual tipo de instação? ")

# para casas
if tipo == "C" or tipo == "c":
  tipo = "Casa"
  kwh = float(input("Informe o consumo mensal: "))
  if kwh <= 600:
    preco = kwh * 0.45
  else:
    preco = kwh * 0.65

# para indústrias
elif tipo == "I" or tipo == "i":
  tipo = "Indústria"
  kwh = float(input("Informe o consumo mensal: "))
  if kwh <= 1200:
    preco = kwh * 0.75
  else:
    preco = kwh * 0.95

# para empresas
elif tipo == "E" or tipo == "e":
  tipo = "Empresa"
  kwh = float(input("Informe o consumo mensal: "))
  if kwh <= 6000:
    preco = kwh * 0.70
  else:
    preco = kwh * 0.80

else:
  print("Digite um caracter válido!")

print(f"O tipo de instalação {tipo} consome {kwh} kw/h por mês")
print(f"Dessa forma, o valor da conta de luz é de R$ {preco}")

Informe o tipo de instalação, sendo Casas = C, Indústrias = I, Empresas = E:
Qual tipo de instação? I
Informe o consumo mensal: 7000
O tipo de instalação Indústria consome 7000.0 kw/h por mês
Dessa forma, o valor da conta de luz é de R$ 6650.0

#Aula 17 - Repetições: while

while condição (verdadeira):
  Comando 1
  Comando 2, etc.

 Ele continua executando comandos até a condição inicial deixar de ser verdadeira.

In [ ]:
# imprimir os 5 números primeiros

n = 1
while n <= 5:
  print(n)
  n = n + 1

1
2
3
4
5

In [ ]:
 n = 8 
while n >= 0:
  print(n)
  n = n - 1

Exemplos de while

In [ ]:
# Imprimir o quadrado dos 10 primeiros números inteiros

n = 1
while n <= 10:
  print(f"O quadrado de {n} é:", n ** 2)
  #n = n + 1
  n += 1

O quadrado de 1 é: 1
O quadrado de 2 é: 4
O quadrado de 3 é: 9
O quadrado de 4 é: 16
O quadrado de 5 é: 25
O quadrado de 6 é: 36
O quadrado de 7 é: 49
O quadrado de 8 é: 64
O quadrado de 9 é: 81
O quadrado de 10 é: 100

In [ ]:
# Contagem regressiva para o lançamento de um foguete. 

x = 10 
while x >= 1:
  print("Contagem:",x)
  x -= 1
print("Liguem os motores!")

Contagem: 10
Contagem: 9
Contagem: 8
Contagem: 7
Contagem: 6
Contagem: 5
Contagem: 4
Contagem: 3
Contagem: 2
Contagem: 1
Liguem os motores!

In [ ]:
# Calcule a média aritmética simples de N números.
n = int(input("Digite um número maior que zero: "))
soma = 0
m = n

while n > 0:
  x = int(input("Digite um novo número: "))
  soma += x
  n -= 1

media = soma / m
print(f"A média é igual a {media}.")

Digite um número maior que zero: 3
Digite um novo número: 10
Digite um novo número: 20
Digite um novo número: 30
A média é igual a 20.0.

#Aula 18 - while usando if

Num intervalo entre a e b, diga quantos números são pares e quantos são ímpares.

In [ ]:
a = 374
b = 597
par = 0 
impar = 0

while a <= b:
  if a % 2 == 0:
    par = par + 1

  else:
    impar += 1
  a = a + 1

print("A quantidade de números pares:", par)
print()
print("A quantidade de números ípares:", impar)

A quantidade de números pares: 112

A quantidade de números ípares: 112

#Aula 19 - Repetições encaixadas com while

Imprimir a tabuada de 1 a 10

In [ ]:
tab = 1
while tab <= 10:
  num = 1
    print(f"*** tabuada do {tab} ***")
  print()
  while num <=10:
    print(f"{tab} x {num} = {tab*num}")
    num += 1
  tab += 1

*** tabuada do 1 ***

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

*** tabuada do 2 ***

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

*** tabuada do 3 ***

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

*** tabuada do 4 ***

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

*** tabuada do 5 ***

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

*** tabuada do 6 ***

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

*** tabuada do 7 ***

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

*** tabuada do 8 ***

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

*** tabuada do 9 ***

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

*** tabuada do 10 ***

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

#Aula 20 - Repetição com for

for i in range (arg1, arg2, arg3)

comando_1

comando_02

...

comando_n

Função range()

rande(n): gera números inteiros de 0 até n-1.

range(a,n): gera números inteiros iniciando em a até n-1

range(a,n,b): gera números inteiros iniciando em a até n-1 com passo base

In [ ]:
#range(n)
for variavel in range(10): #0, 1, 2, 3,...,9.
  print(variavel, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
#range(a,n) a = inicio; n-1 = fim
for variavel in range(2,10): 
  print(variavel, end=" ")

2 3 4 5 6 7 8 9

In [ ]:
#range(a,n,b) a = inicio; n-1 = fim; b = passo (começa no a e soma com o b)
for variavel in range(2,20,2): 
  print(variavel, end=" ")

2 4 6 8 10 12 14 16 18

#Exemplo de repetição com for

In [ ]:
# Calcular a média de 3 alunos e dizer se estão aprovados ou reprovados

for variavel in range(3):
  nome = input("Digite o nome do aluno: ")
  p1 = float(input("Digite a nota da p1: "))
  p2 = float(input("Digite a nota da p2: "))
  media = (p1 + p2)/2

  if media >= 6:
    condicao = "Aprovado"
  else:
    condicao = "Reprovado"
  print(f"A média final de {nome} é {media}, portanto, está {condicao}.j")

#Exercício - Tabuada de um número digitado pelo usuário

In [ ]:
n = int(input("Digite um número n: "))
print(f"Tabuada de {n}")
for i in range(1,11):
  print(f"{n} x {i} = {n*i}")

Digite um número n: 3
Tabuada de 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30